.btn {
  font-size: inherit;
  background: none;
  border: none;
  outline: none;
  font-weight: none;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}

.btn--primary {
  color: white;
  background-color: hsl(200, 100%, 50%);
  margin-bottom: 5px;
}

.btn--primary:hover {
  background-color: hsl(200, 100%, 35%);
}

.btn--danger {
  color: white;
  background-color: hsl(0, 100%, 50%);
  max-width: 100px;
}

.btn--danger:hover {
  background-color: hsl(0, 100%, 35%);
}

.btn--save {
  color: white;
  background-color: hsl(129, 83%, 23%);
  margin-bottom: 5px;
}

.btn--save:hover {
  background-color: hsl(129, 83%, 30%);
}
